#main{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 100px;
}
.textmain{
    width: 600px;
    color: #a8a8a8;
    padding-left: 50px;
    padding-right: 50px;
    background-image: linear-gradient(#2d2d2d, #800101,#2d2d2d);
}
.textmain a{
    color: #a8a8a8;
}
.textmain h1{
    font-size: 40px;
    margin-top: -20px;
    border-bottom: 2px #a8a8a8 solid;
    padding-bottom: 20px   ;
    font-family: cursive;
}
.textmain p{
    font-size: 25px;
    font-family: cursive;
    padding-bottom: 40px;
    text-align: justify;
    border-bottom: 2px #a8a8a8 solid;
}
#main2{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 100px;
}

#sredina{
    /*margin-left:-135px;*/
    /*margin-right:-135px;*/
    height: 150px;
    background-image: linear-gradient(to right,#2d2d2d, #a8a8a8,#2d2d2d);
}
#sredina h1,h2{
    color: #2d2d2d;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sredina h1{
    padding-top: 20px;
    font-weight: bolder;
    font-size: 50px;
    font-family: sans-serif;
}
#sredina h2{
    font-family: cursive;
    font-size: 35px;
    margin-top: -30px;
    color: #800101;
}